<ion-view title="{{categoria | uppercase}}">
  <ion-content>
      <ion-item ng-repeat="x in data">
        <a href="#/app/categoria/{{categoria}}/{{x.ID}}">
          <img src="img/icon_{{categoria}}.jpg" style="float: left;margin-right: 10px">
          <h2 ng-bind-html="x.title"></h2>
          <div ng-repeat="(key,img) in x.featured_image.attachment_meta.sizes" ng-show="key=='thumbnail'" style="margin-top: 10px;">
            <center><img src="{{img.url}}"></center>
          </div>
        </a>
      </ion-item>
  </ion-content>
</ion-view>
