<ion-view title="{{categoria | uppercase}}">
  <ion-content>
    <div class="resultados_encontrados" ng-show="data_buscar">
        <p>Resultados encontrados</p>
	</div>
    <ion-item ng-repeat="x in data_buscar" ng-show="data_buscar">
      <a href="#/app/categoria/livros/{{x.ID}}">
        <h2 ng-bind-html="x.title"></h2>
        <div ng-repeat="(key,img) in x.featured_image.attachment_meta.sizes" ng-show="key=='thumbnail'" style="margin-top: 10px;">
          <center><img src="{{img.url}}"></center>
        </div>
      </a>
    </ion-item>
    <ion-item ng-repeat="x in data" ng-show="!data_buscar">
        <a href="#/app/categoria/{{categoria}}/{{x.ID}}">
          <img src="img/icon_{{categoria}}.jpg" style="float: left;margin-right: 10px">
          <h2 ng-bind-html="x.title"></h2>
          <div ng-repeat="(key,img) in x.featured_image.attachment_meta.sizes" ng-show="key=='thumbnail'" style="margin-top: 10px;">
            <center><img src="{{img.url}}"></center>
          </div>
        </a>
    </ion-item>
  </ion-content>
</ion-view>
